<div class="footer">
  <h2>LET'S CODE!</h2>
  <div class="logo">
    <%= image_tag "text_colour_white.png" %>
  </div>
  <p>Copyright © 2022 GigsForGeeks, Inc.</p>
  <div class="links">
    <%= link_to "Legal", "/", class: "link" %>
    <%= link_to "Privacy Policy", "/", class: "link" %>
    <%= link_to "Security", "/", class: "link" %>
    <%= link_to "Contact us", "/", class: "link" %>
  </div>
</div>
